<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- CSS only -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD NodeJs - MongoDB</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark mb-4">
      <a href="/" class="navbar-brand">CRUD mongo</a>
    </nav>

    <div class="container">
      <div class="row">
        <!--Form-->
        <div class="col-md-5">
          <div class="card">
            <div class="card-body">
              <form action="/add" method="POST">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="text"
                    name="title"
                    placeholder="Insert a Title"
                  />
                </div>
                <div class="form-group">
                  <textarea
                    cols="80"
                    class="form-control"
                    name="description"
                    placeholder="Insert a Description"
                  ></textarea>
                </div>
                <button class="btn btn-primary btn-block">Add</button>
              </form>
            </div>
          </div>
        </div>

        <!--List-->
        <div class="col-md-7">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>N°</th>
                <th>Title</th>
                <th>Description</th>
                <th>Operation</th>
              </tr>
            </thead>
            <tbody>
              <% for( let i = 0; i < tasks.length; i++ ) { %>
              <tr>
                <td><%= i + 1%></td>
                <td><%= tasks[i].title%></td>
                <td><%= tasks[i].description%></td>
                <td>
                  <a
                    href="/trun/<%=tasks[i]._id%>"
                    class="btn <%= tasks[i].status ? 'btn-success' : 'btn-dark'%>"
                  >
                    done
                  </a>
                  <a href="/delete/<%=tasks[i]._id%>" class="btn btn-danger"
                    >Delete</a
                  >
                  <a href="/edit/<%=tasks[i]._id%>" class="btn btn-info"
                    >Update</a
                  >
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
